@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
    Ghost White - #EDF1FF 
    Rich Black - #141E28
    Dodger Blue - #116FF7
    Ultramarine - #3C08FF
    Vivid Violet - #942DFF
*/


body{
    color: #212529;
    background-color: #F8F8F8;
}

.hero-text{
    text-shadow: 2px 2px 2px #202025;
}


.auth-modal input[type=password], .auth-modal input[type=email], .auth-modal input[type=text] {
    padding: 8px;
    background-color: #F8F8F8;
    margin: 8px;
    font-size: 17px;
}